*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

body {
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* overflow: hidden; */
}
/* HEADER */
header {
	/* border: 1px solid red; */
	height: 60px;
}
.logo-img{
	padding-bottom: 15px;
}
.navbar {
	height: 100%;
	width: 100%;
	padding: 10px 20px;
}

.navbar ul {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 14px;
}
.navbar ul li {
	margin-left: 15px;
}
.navbar ul li a {
	color: black;
}

.link:hover {
	text-decoration: underline;
}

.circle-shadow {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle-shadow:hover {
	background-color: rgba(0,0,0,0.1);
}

.menu-icon,
.user-icon span {
	font-size: 18px;
}
.menu-icon span {
	color: white;
}

/* .user-icon {
	background-color: #ef6c00;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
} */

/* CONTENT */

.content-section {
	/* border: 1px solid red; */
	flex-grow: 1;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

.content-wrapper {
	/* border: 1px solid blue; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding-bottom: 100px;
}
/* Arama butonunun en dış hattı */
.search-bar {
	border: 1px solid rgb(211, 211, 211);
	width: 560px;
	height: 45px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 15px;
}

.search-bar:hover {
	box-shadow: 0px 0px 4px 0px #b5b5b5;
}

.search-bar i {
	font-size: 18px;
	color: gray;
	margin-right: 3px;
	cursor: pointer;
	padding: 2px;
}
.search-bar input {
	flex-grow: 1;
	width: 80%;
	height: 38px;
	margin-right: 0px;
	font-size: 18px;
	/* border: 1px solid red; */
	border: none;
}
.search-bar input:focus{ 
	outline: none;
}
.search-btns {
	margin-top: 20px;
	align-items: center;
}
.search-btns button {
	border: none;
	background-color: #f6f6f6f1;
	font-size: 14px;
	height: 40px;
	margin-left: 10px;
	color: black;
	padding: 15px;
	margin-top: 7px;
	border-radius: 5px;
	text-align: center;
	
}

.search-btns button:hover {
	box-shadow: 0px 0px 4px 0px #b5b5b5;
	cursor: pointer;
}
.google-search-btn {
	width: 130px;
}
.lucky-search-btn {
	width: 145px;
}

#signin_btn button{
	/* width: 145px; */
	margin-right: 5px;
	font-size: 14px;
	padding: 8px;
	width: 105px;
	color: white;
	background-color: #4081EC;
	border: none;
	border-radius: 5px;
	flex: wrap;
}
#signin_btn button:hover {
	background-color: rgba(42, 98, 255, 0.957);
	cursor: pointer;
}
.language p  {
	
	font-size: 14px;
}
.language p a {
	color: blue;
	font-size: 14px;
}
.language p a:hover {
	text-decoration: underline;
}
footer {
	height:fit-content;
	background-color: rgb(243, 243, 243);
	/* border: 1px solid red; */
}

.upper-footer {
	height: 50%;
	border-bottom: 1px solid lightgray;
	padding: 20px;
	display: flex;
	text-align: left;
	align-items: center;
}

.upper-footer p {
	color: gray;
	font-size: 15px
}
.lower-footer {
	/* border: 1px solid blue; */
	display: flex;
	align-items: center;
	padding: 20px;
	justify-content: space-between;
}
.lower-footer ul li {
	/* border: 1px solid red; */
	font-size: 14px;
	color: gray;
	float: left;
}
.lower-footer ul li a{
	font-size: 14px;
	color: gray;
	margin: 8px;
}
.lower-footer ul li a:hover{
	text-decoration: underline;
	cursor: pointer;
}
/* Mobile and Tablet */
@media only screen and (max-width: 650px) {
	/* search bar */
	.search-bar{
		width: 90%;
	}
	/* footer */
	footer {
		height: 150px;
	}
	.upper-footer {
		height: 50px;
	}
	.lower-footer {
		height: 100px;
		flex-direction: column;
	}

}




.apps {
    position: fixed;
    background: white;
    width: 300px;
    text-align: center;
    z-index: 991;
    top: 60px;
    right: 15px;
    padding: 15px;
    transition: height 0.3s ease-in-out 0s;
    max-height: calc(-60vh + 100vh);
    /* max-height: 200px; */
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    cursor: default;
}

.apps::-webkit-scrollbar {
    width: 16px;
}

.apps::-webkit-scrollbar-thumb {
    background: #dadce0;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    min-height: 50px;
}

.apps::-webkit-scrollbar-track {
    background: none;
    border: none;
}

.app-list {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.app-list > li {
    display: inline-block;
    text-align: center;
    max-width: 40%;
    max-height: 40%;
    margin: 6px;
    border-bottom: none;
}

.app > a {
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.app-list > li:hover {
    background-color: #e8f0fe;
    border: none;
    border-radius: 8px;
    z-index: 1;
}

.app-link {
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
    height: 100%;
    width: 72px;
    padding: 6px;
}

.app-img {
    width: 64px;
    height: 64px;
    background-image: url('https://ssl.gstatic.com/gb/images/p1_4d827a84.png');
    display: inline-block;
}

#account-img {background-position: 0 -1587px;}
#search-img {background-position: 0 -1794px;}
#maps-img {background-position: 0 -483px;}
#gmail-img {background-position: 0 -2001px;}
#photos-img {background-position: 0 -2829px;}
#youtube-img {background-position: 0 -2622px;}
#translate-img {background-position: 0 -1932px;}
#calendar-img {background-position: 0 -2553px;}
#drive-img {background-position: 0 -2967px;}
#play-img {background-position: 0 -207px;}
#news-img {background-position: 0 -1311px;}
#meet-img {background-position: 0 -690px;}
#chat-img {background-position: 0 -1656px;}
#contacts-img {background-position: 0 -2898px;}
#duo-img {background-position: 0 -2484px;}



.other-products > a {
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #1a73e8;
    display: inline-block;
    font: 500 14px/16px "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 16px 0 20px 0;
    max-width: 265px;
    outline: 0;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    width: auto;
}

.other-products > a:hover {
    background-color: #f8fbff;
    border-color: #cce0fc;
}
